:root {
  --main-yell-color: #f9b932;
  --main-blue-color: #416e86;
  --main-orange-color: #fa8b40;
  --dark-text: #2e3031;
  --content-width: 1140px;
}

@media (min-width: 576px) {
  :root {
    --content-width: 540px;
  }
}

@media (min-width: 768px) {
  :root {
    --content-width: 720px;
  }
}

@media (min-width: 1200px) {
  :root {
    --content-width: 1140px;
  }
}

html {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: normal;
  color: var(--dark-text);
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100vh;
}

/* Header */

.header {
  display: flex;
  align-items: center;
  height: 126px;
  width: var(--content-width);
  margin: 0 auto;
}

.logo {
  display: flex;
  align-items: center;
}

.nav {
  font-size: 1.2rem;
}

.header__nav {
  flex-grow: 1;
  text-align: center;
}

.nav__user-name {
  font-weight: 700;
  margin-right: 10px;
}

.nav__link {
  font-weight: 500;
  margin-right: 30px;
  text-decoration: none;
  color: inherit;
}

.nav__link_active {
  font-weight: 700;
}

.nav__link:hover {
  color: var(--main-orange-color);
}

/* Main */

.main {
  display: flex;
  height: 0;
  justify-content: center;
  flex-grow: 1;
}

.main_h_center {
  align-items: center;
}

.main__image_chat {
  position: relative;
  z-index: -1;
  left: 30px;
}

.sign-form {
  width: 25rem;
  height: 31.7rem;
  background: #f8f8f8;
  padding: 28px;
  margin-left: 3rem;
  border-radius: 10px;
}

.sign-form__content {
  position: relative;
  margin-top: 28px;
}

.sign-form__input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border: none;
  outline: none;
  padding: 12px 10px 12px 26px;
  font-family: inherit;
  margin-bottom: 15px;
}

.sign-form__btn {
  position: relative;
  display: block;
  width: 13rem;
  height: 3.3rem;
  background: var(--main-orange-color);
  color: white;
  border-radius: 30px;
  font-size: 1.2rem;
  margin: 28px auto 0 auto;
  padding: 12px 0;
  outline: none;
  border: none;
  text-align: center;
  transition: 1s ease;
}

.sign-form__btn:hover {
  background: #f8741b;
}

.sign-form__btn-img {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-43%);
}

.sign-form__reset-btn {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  position: absolute;
  display: block;
  outline: none;
  border: none;
  bottom: 0;
  left: 0;
  transition: 0.5s ease;
  background: rgba(0, 0, 0, 0);
}

.sign-form__reset-btn:hover {
  background: rgba(236, 236, 236, 1);
}

.message__name_admin {
  color: #416e86;
}

.chat {
  width: 31rem;
  height: 80%;
  background: white;
}

.filter-form {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f3f3f3;
  border-radius: 5px 5px 0 0;
  height: 35px;
}

.filter-form__item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-grow: 1;
}

.filter-form__input_checkbox {
  display: none;
}

.filter-form__item_date {
  width: 40px;
  flex-grow: 0;
  border-right: 0.5px solid rgba(0, 0, 0, 0.2);
  border-left: 0.5px solid rgba(0, 0, 0, 0.2);
}

.filter-form__item_date:hover {
  cursor: pointer;
  background: #e7e7e7;
}

.filter-form__input-text {
  width: 40%;
  padding: 0 10px;
  border: none;
  outline: none;
  background: rgba(0, 0, 0, 0);
}

.filter-form__input-cont {
  display: none;
  z-index: 10;
  top: 110%;
  width: 50%;
  padding-bottom: 10px;
  border-radius: 10px;
  text-align: center;
  position: absolute;
  background: rgb(245, 245, 245);
}

.filter-form__input-cont > p {
  padding: 10px 0;
  margin-top: 0;
  background: #e7e7e7;
}

.filter-form__input_checkbox:checked + .filter-form__input-cont {
  display: block;
}

.filter-form__input-date {
  display: block;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0);
  border: none;
  outline: none;
}

.filter-form__button {
  height: 100%;
  width: 35px;
  background: rgba(0, 0, 0, 0);
  outline: none;
  border: none;
}

.filter-form__button:hover {
  background: #e7e7e7;
}

.filter-form__image {
  width: 20px;
}

.filter-selected {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 5px auto;
  width: 90%;
}

.filter-selected-item {
  background: #f3f3f3;
  color: #6f6f6f;
  font-size: 0.9rem;
  max-width: 40%;
  padding: 3px 10px;
  margin: 0 5px;
  border-radius: 10px;
}

.filter-selected-item__img {
  width: 8px;
  margin-right: 5px;
}

#chat__content {
  height: 100%;
}

.message-list {
  display: flex;
  height: 100%;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
}

.chat__load-button > button {
  display: block;
  background: #ffc69f;
  padding: 10px 38px;
  margin: 26px auto;
  outline: none;
  border: none;
  border-radius: 30px;
  transition: 0.1s ease;
}

.chat__load-button > button:hover {
  cursor: pointer;
  background: var(--main-orange-color);
  color: white;
}

.message {
  position: relative;
  width: 240px;
  margin: 10px 0;
  border-radius: 7px;
}

.message_style_autres {
  background: #efefef;
  margin-left: 8px;
}

.message_style_user {
  margin-left: auto;
  background: #96c2da;
  margin-right: 8px;
}

.message_style_personal {
  background: #ffecaa;
}

.message__content {
  padding: 8px 12px 5px 13px;
}

.message__head {
  display: flex;
}

.message__name {
  width: 50%;
  margin: 0;
}

.message__text {
  word-break: break-all;
}

.message-control {
  margin-left: auto;
}

.message-control__image {
  height: 12px;
}

.message-control__image:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.message__date {
  width: 50%;
  margin-left: auto;
  margin-top: 2px;
}

.message__date_autres {
  color: #6a6a6a;
}

.message__date_user {
  color: #2f3134;
}

.message__background_user {
  position: absolute;
  left: 14px;
  bottom: -9px;
}

.message__background_autres {
  position: absolute;
  left: -14px;
  bottom: -9px;
}

.message__background_personal {
  transform: scaleX(-1);
}

/* Chat users */

.chat-users {
  margin-left: 40px;
  width: 262px;
}

.chat-users__head {
  box-sizing: border-box;
  height: 35px;
  padding: 10px 10px;
  background: #f3f3f3;
  border-radius: 5px 5px 0 0;
}

.user__list {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

.active-user__elem {
  box-sizing: border-box;
  font-weight: bold;
  height: 35px;
  padding: 10px 10px;
}

.active-user__elem:hover {
  cursor: pointer;
  background: #d0d0d0;
}

.message-form {
  margin-top: 10px;
  display: flex;
  align-items: center;
  height: 28px;
}

.message-form__container {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 3px 20px;
  background: #efefef;
  border-radius: 10px;
  flex-grow: 1;
}

.person-message__message-form {
  margin-top: 50px;
}

.message-form__person-text {
  opacity: 0.6;
}

.message-form__img {
  height: 50%;
  padding: 5px;
  border-radius: 20%;
  margin-right: 5px;
}

.message-form__img:hover {
  cursor: pointer;
  background: #dadada;
}

.message-form__input {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: inherit;
  font-family: inherit;
  flex-grow: 1;
  background: rgba(0, 0, 0, 0);
}

.message-form__button {
  outline: none;
  border: none;
  background: none;
  width: 37px;
  margin-left: 16px;
}

.message-form__button > img {
  padding-top: 2px;
  width: 28px;
}

.message-form__button:hover {
  transform: scale(1.2);
}

/* Footer */

.footer {
  width: 100%;
  height: 62px;
  color: white;
  background: var(--dark-text);
}

.footer__content {
  display: flex;
  align-items: center;
  height: 100%;
  width: var(--content-width);
  margin: 0 auto;
}

.footer__author {
  margin: 0 10px 0 82px;
}

.footer__contacts {
  font-weight: 500;
}

.footer__link {
  margin-left: 5px;
}

.footer__date {
  flex-grow: 1;
  text-align: right;
}
